@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";

    ViewData["Title"] = "DummyCredentials";

    List<NET_Core_Introduction.Models.Entities.eUser> lst_users = ViewBag.lst_users;
}

<link rel="stylesheet" type="text/css" href="~/css/DummyCredentials/DummyCredentialsStyles.css" />

<h2 class="title">Dummy Credentials</h2>

<div class="alert alert-success text-center" role="alert">
    These are valid credentials to pass the login.
</div>

<div class="row text-center">
    <div class="col-md-2 col-sm-2 col-lg-2">
        <h4 class="font-weight-bold">ID</h4>
    </div>
    <div class="col-md-5 col-sm-5 col-lg-5">
        <h4 class="font-weight-bold">User Names</h4>
    </div>
    <div class="col-md-5 col-sm-5 col-lg-5">
        <h4 class="font-weight-bold">Passwords</h4>
    </div>
</div>

<hr style="margin-top:0;" />

@{
    //is used to check if the loop iteration number is odd or even
    int counter = 0;

    foreach (NET_Core_Introduction.Models.Entities.eUser u in lst_users)
    {
        string row_class = "text-center row_" + (counter % 2 == 0 ? "even" : "odd");

        <div class="row @row_class">
            <div class="col-md-2 col-sm-2 col-sm-2">
                <h5>@u.ID</h5>
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5">
                <h5>@u.UserName</h5>
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5">
                <h5>@u.Password</h5>
            </div>
        </div>

        counter++;
    }
}

<hr />

<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-4">
        @Html.ActionLink("Back to Login", "Login", "Login", null, new { @class = "btn btn-info btn-block" })
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4"></div>
    @*<div class="col-md-4 col-lg-4 col-sm-4 text-right">
        @Html.ActionLink("Export dummy users to TXT", "Login", "Login", null, new { @class = "btn btn-outline-danger" })
    </div>*@
</div>


